html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	color: #FFFFFF;
	width: 100%;
	height: 1050px;
	background-image: url(img/dota-body.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.checkbox1{
	color:#ffffff;
}

.login_button{
	padding:8px 60px;
}
.registerButton{
	float: right;
}