html body{
	margin: 0;
	padding: 0;
}
body {
	background-image: url(img/dota-body.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}


.codeInput{
	width:185px;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 5px;
}
.Verification_code{
	float: right;
	color:#ffffff;
	background-color:#c0c0c0;
	font-size:16px;
	border-radius:5px;
	padding: 12px 30px;
}
.dota2-logo{
	padding: 20px 0 0 0;
}
